@page
@model ICBFApp.Pages.TipoDoc.EditModel
@{
}
<br />
<h2>Editar Tipo de Documento</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}


<form method="POST">
    <input type="hidden" class="form-control" name="id" value="@Model.tipoDocInfo.pkIdTipoDoc" />
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="SelectedTipoDocId">Selecciona un Tipo de Documento:</label>
        <div class="col-sm-6">
            <select name="tipo" value="@Model.tipoDocInfo.tipo" class="form-control">
                <option value=""> Selecciona un Tipo de Documento </option>
                <option value="CC">CC</option>
                <option value="TI">TI</option>
                <option value="CE">CE</option>
                <option value="RC">RC</option>
                <option value="NIUP">NIUP</option>

            </select>
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/TipoDoc/Index" role="button">Cancelar</a>
        </div>
    </div>
</form>