@page
@model IndexModel
@{
    ViewData["Title"] = "ICBF";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:600;">BIENVENIDO AL BIENESTAR FAMILIAR</h1>
    <br />
    <p style="font-weight:600;">Conoce más en</p>
        <a href="https://docs.microsoft.com/aspnet/core">https://www.icbf.gov.co/</a>
    <br /><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxQnTjIBFH5ckjLXe64vDpDzWGs3p9GM-vTw&s" alt="ICBF" style="border-radius:20px;" class="m-5"/>
</div>
