@page
@model IndexModel
@{
    ViewData["Title"] = "ICBF";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO AL BIENESTAR FAMILIAR</h1>
    <br />
    <p>Aprende más en</p>
        <a href="https://docs.microsoft.com/aspnet/core">https://www.icbf.gov.co/</a>
</div>
