@page
@model ICBFApp.Pages.Roles.CreateModel
@{
}

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}


<form method="POST">

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="SelectedRolId">Selecciona un rol:</label>
        <div class="col-sm-6">
            <select name="tipo" value="@Model.rolInfo.tipo" class="form-control">
                <option value=""> Selecciona un rol </option>
                <option value="Acudiente">Acudiente</option>
                <option value="Administrador">Administrador</option>
                <option value="Madre comunitaria">Madre comunitaria</option>
            </select>
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Jardin/Index" role="button">Cancelar</a>
        </div>
    </div>
</form>
